* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header-split {
    width: 100%;
    height: 15%;
}

.main {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.main2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}


.main-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-between;
}

.content {
    height: 100%;
    width: 100%;
}

.nav {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav-row {
    height: 50%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.nav-list-item {
    list-style: none;
    height: 20%;
    width: 100%;
    background-color: #b2008a;
}

.nav-item-row {
    list-style: none;
    height: 100%;
    width: 25%;
    background-color: #b2008a;
}

.aside {
    height: 100%;
    width: 25%;
}

.aside3 {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: #c0c99a;
}

.pink {
    background-color: #fd96a9;
    width: 100%;
    height: 100%;
}

.hot-pink {
    background-color: #f42dac;
    width: 100%;
    height: 100%;
}

.purple {
    background-color: #b2008a;
    height: 100%;
    width: 100%;
}

.dark-purple {
    background-color: #480063;
    width: 100%;
    height: 100%;
}

.dark-purple-50 {
    background-color: #480063;
    width: 100%;
    height: 50%;
}

.profile-icon {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.highlight-item {
    width: 33vw;
    height: 75px;
    background-color: #b2008a;
    list-style: none;
    border-radius: 3rem;
}

.profile3 {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 70%;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: .5rem;
}

.main-content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: .5rem;
    height: 75%;
}

.button {
    margin: 0 auto;
    height: 75px;
    width: 300px;
    border-radius: 1rem;
    overflow: hidden;
    border: none;
}

/* Övning 2 */

.card-ö2 {
    padding: 1rem;
    border-radius: 2rem;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
}

.card-ö2__title {
    text-align: center;
}

.card-ö2__sub-title {
    text-align: center;
}

.card-ö2__image {
    margin: 0 auto;
}

.card-ö2__list {
    padding: .5rem 2rem;
}

.card-ö2__item {
    list-style: circle;
    padding-bottom: .2rem;
}

/* ÖVNING 3 */

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 1rem;
}

.ten-header {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ten-header__logo {
    color: #480063;
}

.ten-page {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ten-nav {
    height: 100%;
    width: 20vw;

}

.ten-nav__list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.ten-nav__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.ten-nav__list-item:hover {
    text-decoration: underline;
    box-shadow: inset 0 0 8px rgb(208, 208, 208);

}

.ten-main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
}

.ten-article {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-areas:
        'title title'
        'image text'
    ;
    border-bottom: 1px solid black;
}

.ten-article__title {
    font-size: 2rem;
    grid-area: title;
}

.ten-article__image {
    width: 100%;
    aspect-ratio: 3/2;
    grid-area: image;
    object-fit: cover;
    object-position: center;

}

.ten-article__text-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    padding: 1rem;
    grid-area: text;
}

.ten-article__sub-title {
    font-size: 1.5rem;
}

.ten-artivle__description {
    font-size: 1rem;
    line-height: 1.3;
}


.ten-aside {
    height: 100%;
    width: 20vw;
    border-left: 1px solid black;
    overflow: hidden;
}

.ten-aside__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ten-footer {
    width: 100%;
    min-height: 10vh;
    border-top: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}