.footer {
    padding: 6rem;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
    gap: 1rem;
}

.footer__logo {
    width: 5rem;
    aspect-ratio: 1;
}

.footer__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.footer__list-item {
    padding: .5rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: #fff;
}

.footer__trade-mark {
    font-size: 1.3rem;
    color: #fff;
}